<?xml version="1.0"?>

<launch>
	<include file="$(find napvig)/launch/napvig_arena.launch" />

	<rosparam command="load" file="$(find napvig)/config/napvig.yaml" />

	<node  type="napvig" name="napvig" pkg="napvig" output="screen" />
	<node type="unicycle_control" name="unicycle_control" pkg="napvig" output="screen" />
</launch>